/***********************************************/
/**************######LIGHT MODE######************/
/***********************************************/
 :root {
    --primary-color: #ffffff;
    --secondary-color: #f5f3f4;
    --text-color: #0b090a;
    --button-color: #3c096c;
} 

/***********************************************/
/**************######DARK MODE######************/
/***********************************************/

/* :root {
    --primary-color: #0b090a;
    --secondary-color:#161a1d;
    --text-color: #ffffff;
    --button-color: #ffb703;
} */

*{
  box-sizing: border-box;
}

html,body{                           
  margin: 0;
  padding: 0;
}

body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  background-color:var(--primary-color);
  color:var(--text-color);
  font-size: 20px;
}

a{
  color:var(--button-color);
  text-decoration: none;
}

.link{
  padding:10px;
  border: 1px solid var(--button-color);
  margin-left: 10px;
}

p{
  line-height: 30px;
}

.button:hover{
  color: var(--text-color);
}

.side{
  padding:15px; 
  width:58px;
  transition: 0.6s ease-in-out;
}

.side:hover{
  width:80px;
  padding-left:25px;
}

.hero{
  display:flex;
  flex-direction: row;
  padding:50px 50px 0px 50px;
  height:80vh;
  justify-content:space-between;
  color:var(--text-color);
}

.hero-links{
  margin-top:150px;
  width:5%;
  display: flex;
  flex-direction: column;
  position:fixed;
  left:0;
}

.hero-text{
  width:60%;
  text-align: left;
  padding:50px 20px 0px 15%;
}

.hero-img{
  margin-top: 50px;
  width:30%;
  border-radius:50%;
  height:80%;
  background-image: url('./images/dp2.JPG');
  background-size: cover;
  border:2px solid var(--primary-color);
}

.project-page h3{
  width:100vw;
  text-align: center;
  font-size:30px;
  margin-bottom:50px;
}

.title{
  background-color: var(--button-color);
  padding:15px;
  font-size:18px;
  border-radius: 50px;
  color: var(--primary-color);
}

.top-bg p{
  font-size: 25px;
  margin-top: 50px;
}

.down-bg{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  padding: 100px 50px 0px 50px;
}

.project-page{
  background-color: var(--secondary-color);
  overflow-x: hidden;
  min-height: 100vh;
}

.overlay, .overlay2{
  background-color: var(--button-color);
  width: 40%;
  height: 100px;
  position: absolute;
  top:42vh;
  left:30%;
  border-radius: 5px;
  font-size: 40px;
  color:var(--primary-color);
  text-align: center;
  padding-top: 20px;
}

.overlay2{
  top:16vh;
}

.top-bg{
  padding:50px;
  height: 50vh;
  background-color: var(--primary-color);
  color:var(--button-color);
  overflow-x: hidden;
  text-align: center;
}

.typewriter1 {
  width:100%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--button-color); /* The typwriter cursor */
  white-space: nowrap; /*Keeps the content on a single line */
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  margin-bottom: 20px;
}

.typewriter2 {
  width:100%;
  opacity: 0;
  overflow: hidden; /*Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--button-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  margin-bottom: 20px;
}

/* The typing effect */
@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid var(--button-color);
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid var(--button-color);
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid var(--button-color);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid var(--button-color);
  }
  100% {
    opacity: 1;
    border: none;
  }
}
/* The typewriter cursor effect */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

@media all and (max-width: 1005px) {
  .hero-text {
    padding: 50px 20px 0px 5%;
  }

  .hero-img{
    width:40%;
  }

  .down-bg{
    padding: 100px 0px 0px 0px;
  }
}


@media all and (max-width: 845px) {
  .hero {
    padding: 50px 20px 0px 50px;
  }

  .hero-text{
    width:70%;
  }

  .hero-img {
    margin-top: 25vh;
    width: 35%;
    height: 60%;
  }

}

@media all and (max-width: 730px) {
  .hero {
    flex-direction: column-reverse;
    height: auto;
  }

  .hero-text {
    width: 90%;
    margin: auto;
}

.hero-links {
  margin-top:0px;
  top: 32vh;
}

.hero-img {
  display: none;
}

.top-bg {
  padding: 30px 20px 0px 20px;
}
}

@media all and (max-width: 575px) {
  .overlay, .overlay2 {
    height: 70px;
    font-size: 30px;
}

.overlay{
  top: 49vh;
}

.top-bg p {
  font-size: 20px;
}

.top-bg {
  height:55vh;
}

.title {
  padding: 10px;
  font-size: 14px;
}
}

@media all and (max-width: 475px) {
  .title {
    padding: 15px;
    font-size: 16px;
    display: block;
    margin: auto;
    text-align: center;
}

  .hero-text{
    width:100%;
    padding: 20px 20px 0px 5%;
  }

  .typewriter1,
  .typewriter2{
    font-size: 22px;
  }

  .typewriter2{
    white-space: normal;
    line-height: 36px;
  }

  .overlay, .overlay2 {
      height: 60px;
      font-size: 20px;
  }

.overlay{
  top: 50vh;
}

.overlay2 {
  top: 18vh;
}

.link {
  padding: 5px;
}

.down-bg {
  padding: 70px 0px 0px 0px;
}

}
  